<div class="admin-orders">
  <div class="order-list">
    <mat-card *ngFor="let order of orders" class="order-card" [@fadeInOut]>
      <mat-card-header>
        <mat-card-title>Order: #{{order.id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let customPuzzle of order.customPuzzles">
            <span (click)="openCustomPuzzleDetailsBottomSheet(customPuzzle)">{{customPuzzle.name}}(Custom)</span>, ${{customPuzzle.price}} x {{ customPuzzle.quantity }}
          </li>
          <li *ngFor="let item of order.items">
            <span (click)="showPurchasedPuzzleDetails(item.puzzle)">{{ item.puzzle.name }}</span>, ${{item.puzzle.price}} x {{ item.quantity }}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <p>Total: ${{ order.total }}</p>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
