mat-form-field{
  width: 30%;
  margin: 10px;
  padding: 10px;
  min-height: 100px;
}

mat-card{
  border: 0;
}

mat-list-item{
  padding: 10px;
  margin: 10px;
  min-height: 80px;
  align-self: center;
  text-align: center;
}

.btn{
  width: 12%;
  border-radius: 10px;
}
